<!doctype html>
<html>
   <body>
      <h1>Hello Docker Version: {{version}}</h1>
      <table border = 1>
            <tr>
               <td> Container ID </td><td> Image </td>
            </tr>

         {% for id, name  in container.items() %}
         
            <tr>
               <td> {{ id }} </td>
               <td> {{ name }} </td>
            </tr>
            
         {% endfor %}

            <tr>
               <td> Service ID </td><td> Image </td>
            </tr>

         {% for id, name  in service.items() %}

            <tr>
               <td> {{ id }} </td>
               <td> {{ name }} </td>
            </tr>

         {% endfor %}

      </table>

   </body>
</html>
